/* ------------ *\
    Utility 
\* ------------ */
.wrapper{
    width: 1440px;
    height: 1024px;
    background-color: #EFF2FF;
    padding: 64px 144px;
}
.inputField{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.todoInput{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-right: 30px;
}

input{
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #ccc;
    font-size: 32px;
    padding: 12px 20px;
}
input:hover{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3) ;
    cursor: pointer;
}
#addBtn:hover{
    box-shadow: 0px 0px 8.7px 0px rgba(0, 0, 0, 0.41) inset ;
    cursor: pointer;
}
input[type="checkbox"]:checked + .list label:first-child{
    color: gray;
    text-decoration-line: line-through;
}
.todoInput h2{
    margin-right: 18px;
}
button{
    background-color: #3152FF;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
    width: fit-content;
    padding: 20px 15px;
}
ul{
    background-color: #fff;
    width: 100%;
    height: 614px;
    padding: 24px 12px;
}
li{
    background-color: #F9FAFF;
    border-radius: 10px;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.checkField{
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 32px;
}
.editicon{
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    color: #4A4A4A;
    position: absolute;
}
.pencil{
    right: 20px;
}
.trash{
    right: 70px;
}
[type="checkbox"]{
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-right: 20px;
}
.edit-box{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
}
.edit, .delete{
    width: 728px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
}
.edit{
    height: 484px;
}
.edit .index{
    display: none;
}
.delete{
    height: 348px;
}
.edit-box.disNone, .delete-box.disNone, .index-edit{
    display: none;
}
.edit input,.edit h2{
    margin-bottom: 20px;
}
.delete input,.delete h2{
    margin-bottom: 50px;
}
.fa-times-circle{
    font-size: 36px;
    position: absolute;
    top: 17px;
    right: 20px;
}
.btnGroup{
    display: flex;
}
.deleteBtn{
    background-color: #fff;
    color: #3152FF;
    border: 1px solid #3152FF;
    margin-right: 120px;
}